<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> The Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <header class="has-background-dark p-5 mb-5">
      <nav class="block">
        <a class="has-text-light p-2" href="/">Home</a>
        {{#if loggedIn}}
          <a class="has-text-light p-2" href="/dashboard">Dashboard</a>
          <a class="has-text-light p-2" id="logout">Logout</button>
        {{else}}
          <a class="has-text-light p-2" href="/login">Login</a>
        {{/if}}
      </nav>
      <h1
        class="p-5 has-background-grey-light block tag is-rounded is-large"
      >The Tech Blog</h1>
    </header>
  </head>
  <body class="has-background-grey-lighter">
    {{{body}}}
{{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
{{/if}}
  </body>
</html>