<ol id="post-list">
  {{#each posts as |post|}}
    <li
      class="box has-background-dark has-text-light mx-5 mb-0 is-justify-content-space-between is-flex"
    >
{{> post-info post}}
    </li>

  {{/each}}
</ol>
