<div class="columns">
  <form id="login" class="box m-5 column is-two-thirds has-background-dark">
    <div class="field">
      <label class="label has-text-light" for="email-login">email:</label>
      <input class="input" type="text" id="email-login" />
    </div>
    <div class="field">
      <label class="label has-text-light" for="password-login">password:</label>
      <input class="input" type="password" id="password-login" />
    </div>
    <div>
      <button
        class="button has-background-grey-light"
        type="submit"
      >login</button>
    </div>
  </form>
</div>

<div class="columns">
  <form id="signup" class="box m-5 column is-two-thirds has-background-dark">
    <div class="field">
      <label
        class="label has-text-light"
        for="username-signup"
      >username:</label>

      <input class="input" type="text" id="username-signup" />

    </div>
    <div class="field">
      <label class="label has-text-light" for="email-signup">email:</label>
      <input class="input" type="text" id="email-signup" />
    </div>
    <div class="field">
      <label
        class="label has-text-light"
        for="password-signup"
      >password:</label>
      <input class="input" type="password" id="password-signup" />
    </div>
    <div>
      <button
        class="button has-background-grey-light"
        type="submit"
      >signup</button>
    </div>
  </form>
</div>

<script src="/javascript/login.js"></script>